body{
    margin: 0;
}

.container{
    display: grid;
    grid-template-columns: 70vw 20vw;
    height: 80vh;
}

.grid{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 42%;
    height: 70%;
    margin: auto;
}

.message-box{
    width: 20vw;
}

.cell{
    border: 4px solid black;
    background-size: 70%;
    padding: 10px;
}

#cell-00{
    border-left: none;
    border-top: none;
}
#cell-02{
    border-right: none;
    border-top: none;
}
#cell-20{
    border-left: none;
    border-bottom: none;
}
#cell-22{
    border-right: none;
    border-bottom: none;
}

#cell-01{
    border-top: none;
}

#cell-10{
    border-left: none;
}

#cell-12{
    border-right: none;
}

#cell-21{
    border-bottom: none;
}
